# DAT 19: Homework 1 Assignment

## Instructions

In this assignment, we will explore the passenger list of the Titanic, as provided in a well-known [Kaggle](https://www.kaggle.com) competition. For this assignment, we are concerned only with initial exploration. Please answer the specific questions listed below.

The dataset is a list of passengers. The second column of the dataset is the label for each person indicating whether that person survived (1) or did not survive (0). The data is described in more detail below.

There is no need to download the data from Kaggle. We have provided the titanic.csv dataset for you in the same  directory as this assignment.

Please do all your analysis to answer the questions below in this Jupyter notebook. Show your work. Questions 10, 13, and 14 ask for your thoughts as a few sentences (regular prose, not code :-).

**Please submit your completed notebook by 11:59PM on Thursday, December 17.**

## About the Data

```
VARIABLE DESCRIPTIONS:
survival        Survival
                (0 = No; 1 = Yes)
pclass          Passenger Class
                (1 = 1st; 2 = 2nd; 3 = 3rd)
name            Name
sex             Sex
age             Age
sibsp           Number of Siblings/Spouses Aboard
parch           Number of Parents/Children Aboard
ticket          Ticket Number
fare            Passenger Fare
cabin           Cabin
embarked        Port of Embarkation
                (C = Cherbourg; Q = Queenstown; S = Southampton)

SPECIAL NOTES:
Pclass is a proxy for socio-economic status (SES)
 1st ~ Upper; 2nd ~ Middle; 3rd ~ Lower

Age is in Years; Fractional if Age less than One (1)
 If the Age is Estimated, it is in the form xx.5

With respect to the family relation variables (i.e. sibsp and parch)
some relations were ignored.  The following are the definitions used
for sibsp and parch.

Sibling:  Brother, Sister, Stepbrother, or Stepsister of Passenger Aboard Titanic
Spouse:   Husband or Wife of Passenger Aboard Titanic (Mistresses and Fiances Ignored)
Parent:   Mother or Father of Passenger Aboard Titanic
Child:    Son, Daughter, Stepson, or Stepdaughter of Passenger Aboard Titanic

Other family relatives excluded from this study include cousins,
nephews/nieces, aunts/uncles, and in-laws.  Some children travelled
only with a nanny, therefore parch=0 for them.  As well, some
travelled with very close friends or neighbors in a village, however,
the definitions do not support such relations.
```

### Load Data

Start by loading the Titanic data into a numpy array. The code to do this is included below to get you started.

In [25]:
# We'll use the csv module from the Python standard library to read each row of our input data file
#   into a list that we then convert into a numpy array.

import csv as csv
import numpy as np

file_object = csv.reader(open('titanic.csv', 'rb'))
header = file_object.next() #First, let's strip off the header

data = []
for row in file_object:
    data.append(row)

data = np.array(data) #Turn our Python list into a numpy array

# Let's see what our data looks like. Notice what type the data appears to be inside the numpy array.
print type(data)
print data.shape

print data[:10,:]
print '\n' + '...'
print data[-1,:]

<type 'numpy.ndarray'>
(891, 12)
[['1' '0' '3' 'Braund, Mr. Owen Harris' 'male' '22' '1' '0' 'A/5 21171'
  '7.25' '' 'S']
 ['2' '1' '1' 'Cumings, Mrs. John Bradley (Florence Briggs Thayer)'
  'female' '38' '1' '0' 'PC 17599' '71.2833' 'C85' 'C']
 ['3' '1' '3' 'Heikkinen, Miss. Laina' 'female' '26' '0' '0'
  'STON/O2. 3101282' '7.925' '' 'S']
 ['4' '1' '1' 'Futrelle, Mrs. Jacques Heath (Lily May Peel)' 'female' '35'
  '1' '0' '113803' '53.1' 'C123' 'S']
 ['5' '0' '3' 'Allen, Mr. William Henry' 'male' '35' '0' '0' '373450'
  '8.05' '' 'S']
 ['6' '0' '3' 'Moran, Mr. James' 'male' '' '0' '0' '330877' '8.4583' '' 'Q']
 ['7' '0' '1' 'McCarthy, Mr. Timothy J' 'male' '54' '0' '0' '17463'
  '51.8625' 'E46' 'S']
 ['8' '0' '3' 'Palsson, Master. Gosta Leonard' 'male' '2' '3' '1' '349909'
  '21.075' '' 'S']
 ['9' '1' '3' 'Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)' 'female'
  '27' '0' '2' '347742' '11.1333' '' 'S']
 ['10' '1' '2' 'Nasser, Mrs. Nicholas (Adele Achem)' 'female' '14' '1' '0'
  '237736' '30.0708' '' 'C']]

...
['891' '0' '3' 'Dooley, Mr. Patrick' 'male' '32' '0' '0' '370376' '7.75' ''
 'Q']

## Homework Questions

**1) How many passengers are in our passenger list? For this assignment, weâ€™ll assume our dataset represents the full passenger list for the Titanic.**

In [26]:
num_passengers = 0
for r in data:
        num_passengers = num_passengers + 1
print num_passengers

print 'There are ' + str(num_passengers) + ' passengers in our list.'

891
There are 891 passengers in our list.

**2) What is the overall survival rate (as a percentage of total passengers in our list)?**

In [3]:
import pandas as pd

num_survived = 0
num_dead = 0

data = pd.read_csv('titanic.csv')
col_survived = data["Survived"]
    
for r in col_survived:
    if r == 1:
        num_survived += 1
    else:
        num_dead += 1
print num_survived

num_passenger = (num_survived + num_dead)
print num_passenger

survival_rate = num_survived // num_passenger
print survival_rate

#print 'Of ' + str(num_passengers) + ' passengers, ' + str(num_survived) + ' survived.'
#print 'The survival rate is ' + str(survival_rate) + ' or '+ str("{0:.0f}%".format(survival_rate * 100))

print 'Of ' + str(num_passenger) + ' passengers, ' + str(num_survived) + ' survived.'
print 'The survival rate is ' + str(survival_rate) + ' or '+ str("{0:.0f}%".format(survival_rate * 100))

342
891
0
Of 891 passengers, 342 survived.
The survival rate is 0 or 0%

**3) How many male passengers were onboard?**

In [28]:
import pandas as pd

num_males = 0
num_females = 0

data = pd.read_csv('titanic.csv')
col_gender = data["Sex"]
    
for r in col_gender:
    if r == "male":
        num_males += 1
    else:
        num_females += 1
print num_males

print 'There were ' + str(num_males) + ' male passengers onboard.'

577
There were 577 male passengers onboard.

**4) How many female passengers were onboard?**

In [29]:
import pandas as pd

num_females =0
num_males =0

data = pd.read_csv('titanic.csv')
col_gender = data["Sex"]

for r in col_gender:
    if r == "female":
        num_females += 1
    else:
        num_males += 1
print num_females

print 'There were ' + str(num_females) + ' female passengers onboard.'

314
There were 314 female passengers onboard.

**5) What is the overall survival rate of male passengers?**

In [32]:
# Your code here to calculate male_survival_rate

from __future__ import division

col_survival_gender = data[['Sex', 'Survived']] 

male_survival = col_survival_gender.loc[(col_survival_gender['Sex'] == 'male') & (col_survival_gender['Survived'] == 1)]

male_survival_rate = len(male_survival) / num_passenger

print('The survival rate of male passengers was ' + str("{0:.2f}%".format(male_survival_rate * 100)))

The survival rate of male passengers was 12.23%

**6) What is the overall survival rate of female passengers?**

In [24]:
# Your code here to calculate female_survival_rate

col_survival_gender = data[['Sex', 'Survived']] 

female_survival = col_survival_gender.loc[(col_survival_gender['Sex'] == 'female') & (col_survival_gender['Survived'] == 1)]

female_survival_rate = len(female_survival) / num_passenger
print female_survival_rate

#print 'The survival rate of female passengers was ' + str("{0:.2f}%".format(female_survival_rate * 100))
print 'The survival rate of female passengers was ' + str("{0:.2f}%".format(female_survival_rate * 100))

0.261503928171
The survival rate of female passengers was 26.15%

**7) What is the average age of all passengers onboard?**

In [25]:
from scipy.stats import nanmean

import pandas as pd

data = pd.read_csv('titanic.csv')
col_age = data['Age']

avg_age = nanmean(col_age)
print avg_age

print 'The average age of all passengers onboard was ' + str("{0:.2f}".format(avg_age))

29.6991176471
The average age of all passengers onboard was 29.70

**8) What is the average age of passengers who survived?**

In [33]:
col_survival_age = data[['Age', 'Survived']]
col_age_survival = col_survival_age.loc[(col_survival_age['Age'] > 0) & (col_survival_age['Survived'] == 1)]
avg_age_survived = col_age_survival['Age'].mean()

print avg_age_survived

print 'The average of age of passengers who survived was ' + str("{0:.2f}". format(avg_age_survived))

28.3436896552
The average of age of passengers who survived was 28.34

**9) What is the average age of passengers who did not survive?**

In [34]:
col_age_dead = col_survival_age.loc[(col_survival_age['Age'] > 0) & (col_survival_age['Survived'] == 0)]
avg_age_not_survive = col_age_dead['Age'].mean()

print avg_age_not_survive

print 'The average of age of passengers who did not survive was ' + str("{0:.2f}".format(avg_age_not_survive))

30.6261792453
The average of age of passengers who did not survive was 30.63

**10) At this (early) point in our analysis, what might you infer about any patterns you are seeing in who survived / did not survive?**

_Your answer here as markdown_

In [ ]:
#From the data, we see that the mean age of those who survived (28 yrs old) is less than the mean age of those who did not survive (30 yrs old). So younger passengers aboard had a better chance of surviving.

**11) How many passengers are in each of the three classes of service (e.g. First, Second, Third?)**

In [29]:
col_class_survival = data[['Pclass', 'Survived']]

first_class_survival = col_class_survival.loc[(col_class_survival['Pclass'] == 1) & (col_class_survival['Survived'] == 1)]
second_class_survival = col_class_survival.loc[(col_class_survival['Pclass'] == 2) & (col_class_survival['Survived'] == 1)]
third_class_survival = col_class_survival.loc[(col_class_survival['Pclass'] == 3) & (col_class_survival['Survived'] == 1)]

first_class_survival_rate = len(first_class_survival) / num_passenger
second_class_survival_rate = len(second_class_survival) / num_passenger
third_class_survival_rate = len(third_class_survival) / num_passenger

print first_class_survival_rate
print second_class_survival_rate
print third_class_survival_rate

0.152637485971
0.0976430976431
0.133557800224

**12) What is the survival rate for passengers in each of the three classes of service?**

In [30]:
print('The survival rate of first-class passengers was ' + str("{0:.2f}%".format(first_class_survival_rate * 100)))
print('The survival rate of second-class passengers was ' + str("{0:.2f}%".format(second_class_survival_rate * 100)))
print('The survival rate of third-class passengers was ' + str("{0:.2f}%".format(third_class_survival_rate * 100)))

The survival rate of first-class passengers was 15.26%
The survival rate of second-class passengers was 9.76%
The survival rate of third-class passengers was 13.36%

**13) How does what we learned in 11) and 12) influence our early conclusions from 10) ?**

_Your answer here as markdown_

In [ ]:
#First class passengers had a higher survival rate. Maybe they were more important people and had servants to help them, or they were just given priority.

**14) If we were to build a predictive model, which features in the data do you think we should include in the model and which can we leave out? Why?**

_Your answer here as markdown_

In [ ]:
#We should include age because that is a factor (younger children vs older grandparents),gender of the passengers on board (females had a higher survival rate). We can leave out siblings, and spouses because that information does not effect survival rates.